{{#if isFollowing}}
    <button class="followButton following" data-user={{ user._id }}>
        Following
    </button>
{{/if}}

{{#unless isFollowing}}
    <button class="followButton" data-user={{ user._id }}>
        Follow
    </button>
{{/unless}}
