<div class="modal fade" id="coverPhotoUploadModal" tabindex="-1" role="dialog" aria-labelledby="coverPhotoUploadModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="coverPhotoUploadModalLabel">Upload a new cover photo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
                <input id="coverPhoto" type="file" name="coverPhoto">
                <div class="imagePreviewContainer">
                    <img id="coverPreview">
                </div>
            </div>
          <div class="modal-footer">
              <button id="photoCloseButton" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button id="coverPhotoUploadButton" type="button" class="btn btn-primary">Save</button>
          </div>
      </div>
  </div>
</div>
