<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
    <link rel="stylesheet" href="/css/main.css">
    <title>{{ pageTitle }}</title>
</head>
<body class="body">
    <script>
        var userLoggedIn = {{{ userLoggedInJs }}};
    </script>
    <div class="wrapper">
        <div class="row">
            <nav class="col-2">
                <a class="blue" href="/"><i class="fab fa-meetup"></i></a>
                <a href="/"><i class="fas fa-home"></i></a>
                <a href="/search"><i class="fas fa-search"></i></a>
                <a href="/profile"><i class="fas fa-user"></i></a>
                <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>
            </nav>

            <div class="mainSectionContainer col-10 col-md-8 col-lg-6">
                <div class="titleContainer">
                    <h1>{{ pageTitle }}</h1>
                </div>
                {{> createPostForm }}

                <div class="postsContainer"></div>

                <div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="replyModalLabel">Reply</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="originalPostContainer"></div>
                                <div class="postFormContainer">
                                    <div class="userImageContainer">
                                        <img src={{ userLoggedIn.profilePic }} alt="User's profile picture">
                                    </div>
                                    <div class="textareaContainer">
                                        <textarea id="replyTextarea" placeholder="What's happening?"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="closeButton" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button id="submitReplyButton" type="button" class="btn btn-primary" disabled="">Reply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-lg-4">
                
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/928db4b75b.js" crossorigin="anonymous"></script>
    {{> footer }}

    <script src="/js/home.js"></script>

    <script src="/js/common.js"></script>
</body>
</html>