<!DOCTYPE html>
<html lang="en">
    {{> head }}
    <body class="body">
        <div class="wrapper">
            <div class="loginContainer">
                <h1>Login</h1>

                {{#if alert}}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ alert }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
                {{/if}}

                <form id="registerForm" method="POST" onsubmit="submit">
                    <input type="text" name="firstName" placeholder="First Name">
                    <input type="text" name="lastName" placeholder="Last Name">
                    <input type="text" name="username" placeholder="Username">
                    <input type="email" name="email" placeholder="Email">
                    <input id="password" type="password" name="password" placeholder="password">
                    <input id="passwordConf" type="password" name="passwordConf" placeholder="Confirm Password">
                    <button type="submit">Submit</button>
                </form>
                <a href="/login">Already have an account? Login here</a>
            </div>
        </div>
        {{> footer }}
    </body>
    {{> footer }}
</html>