<div class="postFormContainer">
    <div class="userImageContainer">
        <img src={{ userLoggedIn.profilePic }} alt="User's profile picture">
    </div>
    <div class="textareaContainer">
        <textarea id="postTextarea" placeholder="What's happening?"></textarea>
        <div class="buttonsContainer">
            <button id="submitPostButton" disabled="">Post</button>
        </div>
    </div>
</div>
